spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
      format_sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    show-sql: true
  datasource:
    password:
    url: jdbc:h2:mem:torre_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    driverClassName: org.h2.Driver
  flyway:
    enabled: false
  h2:
    console:
      enabled: true
      path: /h2
local:
  server:
    port: 8080
app:
  security:
    ignored: /prospect
server:
  port: 9090
rest:
  torre: https://bio.torre.co/api