/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/_tables.scss";
@import "~bootstrap/scss/grid"; // add the grid
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//Margins
.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.padding-top {
  margin-top: 1rem;
}

.no-padding {
  padding: 0;
}

//Alignment
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.right {
  float: right;
}

//Form fields
.mat-form-field {
  width: 100%;
}

//Container
.row {
  width: 100%;
  margin: 0;
}

//Colors
.mat-toolbar {
  background: #4050b5;
  color: rgb(255, 255, 255);
}

//fonts
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}


