.mat-icon {
  margin: 0 1em;
  cursor: pointer;
}

.mat-list-base {
  padding-right: 8px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-toolbar {
  background: #4871b9;
  color: white;
}
